body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.zone-1 {
	width: 500px;
	height: 500px;
	border: solid 1px black;
}

span:hover {
	color: brown;
}

span:active {
	color: brown;
}
